body {
    background-color: #2A1E36;
}

p, h1, h2, a, ul{
    color: white;
}


.topnav {
    width: 500px; 
    margin: 0 auto;
    text-align: center;
}

.topnav a {
    color: white; 
    padding: 14px 20px;
    text-decoration: none;
    display: inline-block;
}